Package: com.watcher.creachability
Name: CRSettings
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Custom Your Reachability View.
Maintainer: ChanYu <lazysloths@yahoo.com>
Author: ChanYu <lazysloths@yahoo.com>
Section: Tweaks
Icon: file:///Library/PreferenceBundles/crsettings.bundle/CRSettings.png
Version: 1.0-1+debug
Installed-Size: 592
